@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300|Lato:400,700,300,900);
html, body{
	font: 400 100% 'Open Sans', sans-serif;
	color: #2c3e50;
	background: #2A82BB
}
h1,h2,h3,h4,h5{
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}
h1{
	font-size: 1.5em;
}
h2{
	font-size: 1.2em;
}
#page-wrapper{
	min-height:  95vh;
}
.page-content{
	padding: 1em;
	padding-bottom: 2em;
}
.breadcrumb{
	display: none;
}
.navbar-side{
	font: 300 100% 'Lato', sans-serif;
}

.nav .navbar-nav .side-nav{
	background-color: #2980B8 !important;
}

.navbar-side ul.side-nav{
	border: none;
	padding: 2em 0;
}
.navbar-side .side-nav li,
.navbar-side .side-nav li.panel
{
	border: none;
}
.navbar-nav > li > a{
	padding-top: 1em;
	padding-bottom: 0;
}
.navbar-side .navbar-nav>li>a{
	color: rgba(255, 255, 255, 1);
}
.navbar-side .navbar-nav>li>a:focus,
.navbar-side .navbar-nav>li>a:hover{
	color: #2980B8;
	background: inherit;
}
.navbar-side .side-nav li.panel {
	margin-bottom: 0.5em;
}
.navbar-side .side-nav li.panel ul li a{
	background: #34495e;
	color: rgba(255, 255, 255, 1);
	padding-left: 3em;
	font-size: 90%;
}
.navbar-side .side-nav li.panel ul li ul li a{
	padding-left: 4em;
}
.navbar-side .side-nav li.panel ul li a:hover,
.navbar-side .side-nav li.panel ul li a:focus
{
	color: rgba(255, 255, 255, 0.8);
	background: #34495e;
}
.navbar-side .side-nav li.panel ul li a.active ,
.navbar-side .side-nav > li > a.active{
	background: #34495e;
	color: #00ffff;
}
/*Titulos*/
.page-title{
	display: block;
}
.page-title h1{
	font-size: 1.2em;
	line-height: 1.5em;
	margin: 0;
	padding: 1em 0 2em 1em;
}
.page-title h1 small{
	display: block;
	font-size: 70%;
}
.page-title p{
	font-size: 0.8em;
}
.page-title i{
	margin: 0 10px;
	float: left;
}



/*Portlets*/
.circle-tile{
	max-width: 85%;
	margin: 0.5em auto;
}
.circle-tile-content{
	padding: 1em;
	text-align: left;
	color: #34495e;
}
.circle-tile-content.dark-blue{
	background: none;
	border: solid 1px rgba(52,73,94,0.5);
	border-left: solid 3px rgba(52,73,94,1);
}
.circle-tile-content.green{
	background: none;
	border: solid 1px rgba(52,73,94,0.5);
	border-left: solid 3px rgba(21, 152, 126,1);
}
.circle-tile-content.blue{
	background: none;
	border: solid 1px rgba(52,73,94,0.5);
	border-left: solid 3px rgb(41, 128, 185);
}
.circle-tile-content.purple{
	background: none;
	border: solid 1px rgba(52,73,94,0.5);
	border-left: solid 3px rgb(142, 68, 173);
}

.circle-tile-description{
	font: 700 1.2em 'Open Sans', sans-serif;
	text-transform: none;
	line-height: 0.9em;
	min-height: 3.1em;
}
.circle-tile-description span{
	display:  block;
	opacity: 0.5;
	font-weight: 400;
	font-size: 0.7em;
	margin-top: 0.5em;
}
.circle-tile-number{
	font-size: 6em;
	margin: 0 0.5em;
	text-align: center;
}
.circle-tile-heading{
	width: 64px;
	height: 64px;
	margin: 0.5em;
	float: right;
	border: 1px solid  #34495e;
	background: none;
	color:  #34495e;
}
.circle-tile-heading .fa{
	line-height: 64px;
}
.circle-tile-heading:hover{
	color: white;
}

/* Protlets standar*/
.portlet{

}
.portlet .portlet-body{
	background: none;
}
.portlet h2{
	font-size: 1.2em;
}
.portlet.portlet-default{
	border-left: solid 3px #2c3e50;
}
.portlet.portlet-blue{
	border-color: #2c3e50;
	border-left: solid 3px #2980b9;
}
.portlet.portlet-orange{
	border-color: #2c3e50;
	border-left: solid 3px #f39c12;
}
.portlet.portlet-green{
	border-color: #2c3e50;
	border-left: solid 3px #16a085;
}
.portlet.portlet-purple{
	border-color: #2c3e50;
	border-left: solid 3px #8e44ad;
}
.portlet.portlet-red{
	border-color: #2c3e50;
	border-left: solid 3px #e74c3c;
}
.portlet.portlet-basic{
	border-color: #2c3e50;
	border-left: solid 3px #2c3e50;
}
.portlet.portlet-default > .portlet-heading{
	background: none;
	color: #2c3e50;
	font: bold 1.2em 'Lato', sans-serif;
}
.portlet.portlet-blue > .portlet-heading{
	background: none;
	color: #2c3e50;
	font: bold 1.2em 'Lato', sans-serif;
}
.portlet.portlet-red > .portlet-heading{
	background: none;
	color: #2c3e50;
	font: bold 1.2em 'Lato', sans-serif;
}
.portlet.portlet-orange > .portlet-heading{
	background: none;
	color: #2c3e50;
	font: bold 1.2em 'Lato', sans-serif;
}
.portlet.portlet-green > .portlet-heading{
	background: none;
	color: #2c3e50;
	font: bold 1.2em 'Lato', sans-serif;
}
.portlet.portlet-purple > .portlet-heading{
	background: none;
	color: #2c3e50;
	font: bold 1.2em 'Lato', sans-serif;
}
.portlet.portlet-basic > .portlet-heading{
	background: none;
	color: #2c3e50;
	font: bold 1.2em 'Lato', sans-serif;
}
.portlet .portlet-footer{
	background: none;
}
/* Botones Standar */
.btn{
	font-size: 80%;
}
.btn-default
{
	background-color: #16a085;
	border-color: #16a085;
}
.btn-default:hover{
	background-color: #16a085;
	border-color: #16a085;
	opacity: 0.5;
}

.btn-default:focus{
	background-color: #16a085;
	border-color: #16a085;
	opacity: 1;
}
.btn-primary{
	background-color: #337ab7;
}
.btn-primary:hover{
	background-color: #337ab7;
	border-color: #337ab7;
	opacity: 0.8;
}
.btn-primary:focus{
	background-color: #337ab7;
	border-color: #337ab7;
	opacity: 1;
}

/*tablas */
.table{
	font-size: 80%;
}
.table tbody tr th{
	border: none;
	border-bottom: solid 1px  #2c3e50;
}
.table tbody tr{
	border: none;
}
.table tbody tr td{
	border: none;
}
/*
.table > tbody > tr.warning {
	border-left: solid 5px #f39c12;
}

.table > tbody > tr.success{
	border-left: solid 5px #16a085;
}
.table > tbody > tr.danger{
	border-left: solid 5px #e74c3c;
}
.table > tbody > tr.info{
	border-left: solid 5px #2980b9;
}
.table > tbody > tr.warning > td{
	background: none;
	border-bottom: solid 1px #f39c12;
}

.table > tbody > tr.success > td{
	background: none;
	border-bottom: solid 1px #16a085;
}
.table > tbody > tr.danger > td{
	background: none;
	border-bottom: solid 3px #e74c3c;
}
.table > tbody > tr.info > td{
	background: none;
	border-bottom: solid 1px #2980b9;
}
.table > tbody > tr.warning > td:first-child{
	border-bottom: solid 3px #f39c12;
}

.table > tbody > tr.danger > td:first-child{
	background: none;
	border-bottom: solid 3px #e74c3c;
}
*/

.table > tbody > tr.warning >td,
.table > tbody > tr.success >td,
.table > tbody > tr.danger >td,
.table > tbody > tr.info >td{
	background: none;
}
.table > tbody > tr.warning >td:last-child{
	display: inline-block;
	background: rgba(243, 156, 18, 1);
	border-radius: 8px;
	color: white;
	padding: 3px 5px;
	margin: 0.5em 0 0 0 ;
}
.table > tbody > tr.success >td:last-child{
	display: inline-block;
	background: rgba(22, 160, 133, 1);
	border-radius: 8px;
	color: white;
	padding: 3px 5px;
	margin: 0.5em 0 0 0 ;
}
.table > tbody > tr.danger >td:last-child{
	display: inline-block;
	background: rgba(231, 76, 60,1);
	border-radius: 8px;
	color: white;
	padding: 3px 5px;
	margin: 0.5em 0 0 0 ;
}
.table > tbody > tr.info >td:last-child{
	display: inline-block;
	background: rgba(41, 128, 185,1);
	border-radius: 8px;
	color: white;
	padding: 3px 5px;
	margin: 0.5em 0 0 0 ;
}

.pagination{
	font-size: 80%;
	background: rgba(22, 160, 133, 1);
}
.pagination span{
	display: inline-block;
	padding: 1em;
	background: #2980b9;
	color: white;
	margin: 0 1px;
}
.pagination a{
	display: inline-block;
	padding: 1em;
	background:  rgba(22, 160, 133, 1);
	color: white;
	margin: 0 1px;
}
.pagination a:hover{
	background: rgba(22, 160, 133, 0.8);
}
.pagination span:first-child,
.pagination a:first-child{
	border-radius: 5px 0 0 5px;
}
.pagination a:last-child,
.pagination span:last-child{
	border-radius: 0 5px 5px 0;
}


/* Custom Profile*/
.property-list.user{
	list-style: none;
	padding: 0;
	margin: 0;
}
.property-list.user span{
	font-size: 80%;
	font-style: italic;
	opacity:0.6;
}
.property-list.user .property-value{
	font-size: 1.5em;
}

.form-horizontal .control-label{
	text-align: left;
	font-size: 0.8em;
	font-weight: normal;
	opacity: 0.8;
}
.not-style{
	list-style: none;
	padding: 0;
}
.label{
	display: inline-block;
	white-space: normal;
}

@media (max-width:480px) and (min-width:0) {
	.page-title{
		font-size: 80%;
	}
	.circle-tile{
	max-width: 100%;
	}

}


@media (max-width:768px) and (min-width:0) {
	.page-title{
		font-size: 80%;
	}
	.property-list.user .property-value{
		font-size: 1em;
	}
}
